# ignore everything

*
*/**

# except the dist dir where we've staged all the npm stuff

!dist/*
!dist/**/*

# ensure we don't upload the mocked package.json (in case the demo was built)

dist/package.json
