#window-button-exit {
    background-image: url("./image/close.png");
    position: fixed;
    right: 2px;
    top: 2px;
    display: flex;
    align-items: center;
    z-index: 15;
    -webkit-app-region: no-drag;
    width: 45px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 25% 45%;
    background-position: center;
    cursor: pointer;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner 3s linear infinite;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}