body {
    user-select: none;
}

#title {
    -webkit-app-region: drag;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body.tabbed #title {
    display: none;
}

.card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-fluid.border {
    border: solid white 2px !important;
}

.container-fluid > div:last-child {
    position: relative;
    flex-grow: 1;
}

#log {
    position: absolute;
    bottom: 20px;
    top: 56px;
    left: 20px;
    right: 20px;
}

#eventList li {
    display: block;
}
i.fa-chevron-right, i.fa-bolt {
    font-size: small;
}

.modal .form-control-sm {
    width: 100%;
}
.modal textarea {
    min-height: 250px;
    font-family: monospace;
}

#inputLaunchType {
    position: relative;
}
#inputConfigEditor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

/* When switching to 'xs' width, make title bar more compact */
@media (max-width: 576px) {
    #title {
        padding: 2px 12px;
        margin: 0 -16px !important;
        border-radius: 0;
    }
    .card {
        border-radius: 0 !important;
    }
    .card-deck {
        border-radius: 0 !important;
        margin-left: -16px !important;
        margin-right: -16px !important;
    }
}

/* When both width and height are constrained, only show '.small' cards */
@media (max-width: 576px) and (max-height: 400px) {
    .card {
        display: none !important;
    }
    .card.small {
        display: block !important;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 30px;
        margin-bottom: 0 !important;
        width: initial;
    }
    .border .card.small {
        left: 2px;
        right: 2px;
        bottom: 2px;
        top: 32px;
    }
    body.tabbed .card.small {
        top: 0;
    }
    body.tabbed .border .card.small {
        top: 2px;
    }
}

/* When shrinking to very small heights, also hide subtitle text */
@media (max-width: 576px) and (max-height: 175px) {
    .card-subtitle {
        display: none;
    }
}
@media (max-height: 175px) {
    body.locked .card-subtitle {
        display: none;
    }
}

/* Add the 'locked' class to the body tag to "force" small-window mode. Locks window to just the default section */
body.locked .card-deck {
    border-radius: 0 !important;
    margin-left: -16px !important;
    margin-right: -16px !important;
}
body.locked #title {
    padding: 2px 12px;
    margin: 0 -16px !important;
    border-radius: 0;
}
body.locked .card {
    display: none !important;
    border-radius: 0 !important;
}
body.locked .card.small {
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    margin-bottom: 0 !important;
    width: initial;
    max-width: initial;
    margin: 0;
}
body.locked .border .card.small {
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 32px;
}
body.locked.tabbed .card.small {
    top: 0;
}
body.locked.tabbed .border .card.small {
    top: 2px;
}
