:root {
	--body-background: #d7d8d9;
	--tab-background: #cacaca;
	--tab-active-background: #f0f0f0;
	--tab-border: #989898;
	--tab-active: #f0f0f0;
	--tab-text-color: #000000;
	--tab-slant-length: 15px;
	--tab-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--body-background);
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#tabs {
	width: calc(100% - 40px);
	height: 28px;
	display: flex;
	margin: 0 20;
}

#tabs-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin-right: 15px;
	overflow: scroll;
	z-index: 15;
}

.tab {
	max-width: 220px;
	height: 28px;
	width: 243px;
	display: flex;
	justify-content: space-between;
	margin: 0 -7px;
	min-width: 72px;
	-webkit-app-region: no-drag;
}


.tab * {
	user-select: none;
	cursor: pointer;
}

.tab .tab-right,
.tab .tab-right-overlay {
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
	clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.tab .tab-left,
.tab .tab-left-overlay {
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.tab .tab-right,
.tab .tab-left {
	width: var(--tab-slant-length);
	background-color: var(--tab-border);
	height: 100%;
	position: relative;
}

.tab-left .tab-left-overlay {
	bottom: 0px;
	right: 0px;
}

.tab-right .tab-right-overlay {
	bottom: 0px;
	left: 0px;
}

.tab-left .tab-left-overlay,
.tab-right .tab-right-overlay {
	content: "";
	position: absolute;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	background: var(--tab-background);
}

.tab.active {
	z-index: 1;
	height: calc(100% + 1px);
}

.tab.active .tab-content-wrap,
.tab.active .tab-left .tab-left-overlay,
.tab.active .tab-right .tab-right-overlay {
	background: var(--tab-active-background) !important;
}

#tabs-bottom-border {
	width: 100%;
	background: var(--tab-active);
	border: 1px solid var(--tab-border);
	height: 3px;
}

.tab-content-wrap {
	width: calc(100% - (var(--tab-slant-length) * 2));
	background-color: var(--tab-background);
	border-top: 1px solid var(--tab-border);
	display: flex;
	align-items: center;
}

.tab .tab-content-wrap .tab-favicon {
	height: 18px;
	width: 18px;
	margin-left: 3px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	flex-shrink: 0;
}

.tab .tab-content-wrap .tab-content {
	font-family: var(--tab-font);
	margin-left: 3%;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 5px;
	flex-shrink: 1;
	color: var(--tab-text-color);
}

.tab .tab-content-wrap .tab-content input {
	background: transparent;
	border: none;
	font-family: var(--tab-font);
	font-size: 13px;
	outline:none;

}

.tab .tab-content-wrap .tab-exit {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='#5a5a5a' stroke-linecap='round' stroke-width='1.125' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
	height: 15px;
	width: 15px;
	margin-left: auto;
	border-radius: 50%;
	margin-right: 3px;
	flex-shrink: 0;
}

.tab .tab-content-wrap .tab-exit:hover {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='#fff' stroke-linecap='round' stroke-width='1.2' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
	background: #e25c4b;
}

#window-button-wrap {
	position: fixed;
	right: 2px;
	top: 2px;
	display: flex;
	align-items: center;
	z-index: 15;
	-webkit-app-region: no-drag;
}

#window-button-wrap div {
	width: 45px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 25% 45%;
	background-position: center;

}

#window-button-wrap #window-button-exit {
	background-image: url("./image/close.png");
}

#window-button-wrap #window-button-minimize {
	background-image: url("./image/minimize.png");
}

#window-button-wrap #window-button-maximize.restore{
	background-image: url("./image/restore.png") !important;
}

#window-button-wrap #window-button-maximize {
	background-image: url("./image/maximise.png");
}

#window-button-wrap div img {
	height: 50%;
	width: 40%;
}

#window-button-wrap div:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#window-button-wrap div:active:hover {
	background-color: rgba(0, 0, 0, 0.3);
}


#drag-region {
	position: absolute;
	top:2px;
	left:2px;
	height:calc(100% - 8px);
	width:calc(100% - 8px);
	z-index: 1;
	-webkit-app-region: drag;
}
