:root {
    --main-bg-color: #1F1E24;
    --border-color: #2A2A30;
    --highlight-color: #0E00A0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'AkkuratPro', 'Roboto', arial, sans-serif;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

h1 {
    color: #ffffff;
}

button {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    border: 3px solid var(--border-color);
    padding: 2px;
    margin: 3px;
    box-shadow: 0.5px 0.5px 0px 0 #1b1b2b;
    background-color: var(--main-bg-color);
    color: #ffffff;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: var(--border-color);
}

button:active {
    background-color: #6D6A82;
}

#layoutName {
    height: 30px;
    padding-left: 10px;
    margin: 3px;
}

#layoutSelect {
    height: 30px;
    border-radius: 0px;
    margin-left: 3px;
}