:root {
    --main-bg-color: #1F1E24;
    --border-color: #2A2A30;
    --highlight-color: #0E00A0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'AkkuratPro', 'Roboto', arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    background-color: #7B7BFF;
    margin-top: 16px;
}

h3, h4 {
    margin-bottom: 0px;
}
h4 {
    display: inline-block;
    width: 144px;
    margin-top: 12px;
    vertical-align: middle;
    padding-left: 12px;
}

button {
    width: 182px;
    font-size: x-small;
    height: 30px;
    box-sizing: border-box;
    border: 3px solid var(--border-color);
    padding: 2px;
    margin: 3px;
    box-shadow: 0.5px 0.5px 0px 0 #1b1b2b;
    background-color: var(--main-bg-color);
    color: #ffffff;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.button-row {
    display: inline-flex;
}

.windows-generator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.windows-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windows-group-title {
    width: 250px;
    text-align: center;
}

#layoutName {
    width: 182px;
    height: 30px;
    padding-left: 10px;
    margin: 3px;
    vertical-align: bottom;
}

#layoutSelect {
    width: 182px;
    height: 30px;
    border-radius: 0px;
    margin-left: 3px;
    margin-right: 3px;
}

#showLayout {
    display: inline-block;
    margin-right: 5px;
    width: 539px;
    height: 155px;
}

.text-box {
    margin-top: 10px;
    display: flex;
}

.text-box-buttons {
    display: inline-block;
    padding-left: 1px;
    width: 190px;
}