body.no-chrome #title-bar {
    display: none;
}

#title-bar {
    height: 24px;
    -webkit-app-region: drag;
    padding: 2px 8px;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid > div:last-child {
    position: relative;
    flex-grow: 1;
}

#log {
    position: absolute;
    bottom: 20px;
    top: 56px;
    left: 20px;
    right: 20px;
}
